

@{
    ViewBag.Title = "Admin";
}

<div class="row">
    <div class="col-md-6">
        <div class="wp-block hero base">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Crea tus datos de contactos</h2>
            <p class="text-center">@Html.ActionLink("Contactos", "Index", "contacts")</p>
        </div>

        <div class="wp-block hero dark">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Crea los datos de tu Empresa</h2>
            <p class="text-center">@Html.ActionLink("Empresa", "Index", "empresas")</p>
        </div>

        <div class="wp-block hero base">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Vision, Mision, Objetivos</h2>
            <p class="text-center">@Html.ActionLink("Quienes", "Index", "quienes")</p>
        </div>

        <div class="wp-block hero dark">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Servicios ofrecidos</h2>
            <p class="text-center">@Html.ActionLink("Servicios", "Index", "services")</p>
        </div>

   </div>

    <div class="col-md-6">
        <div class="wp-block hero dark">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Crea tus marcas</h2>
            <p class="text-center">@Html.ActionLink("Marcas", "Index", "marcas")</p>
        </div>

        <div class="wp-block hero base">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Agrega tus productos</h2>
            <p class="text-center">@Html.ActionLink("Productos", "Index", "products")</p>
        </div>

        <div class="wp-block hero dark">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Crea los datos de Slider</h2>
            <p class="text-center">@Html.ActionLink("Sliders", "Index", "sliders")</p>
        </div>

        <div class="wp-block hero base">
            <div class="thmb-img">
                <i class="fa fa-lightbulb-o"></i>
            </div>

            <h2>Agrega tus Redes</h2>
            <p class="text-center">@Html.ActionLink("Socials", "Index", "socials")</p>
        </div>
    </div>
</div>
